* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eee;
}

.App {
  display: grid;
  grid-template-rows: auto 48px;
  height: 100vh;
  font-family: sans-serif;
}

.Navigation {
  display: flex;
}

.Navigation button {
  font-size: 2em;
  flex-grow: 1;
}

.page {
  padding: 20px;
  display: grid;
  align-content: flex-start;
  gap: 20px;
}

.Card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 10px #0002;
}
